.App {
  text-align: center;
}
body{background-color: maroon;
  background-image: radial-gradient(black
  15%, transparent 11%),radial-gradient(black 15%, transparent 11%);
  background-repeat: repeat;
  background-position: 0 0,12px 12px;
  background-size: 25px 25px;
}
main{
  background-color:rgb(238, 206, 118);
  margin:10vh auto;
  height:80vh;
  max-width: 70%;
  border-radius: 10px;
  box-shadow: 4px 5px 2px 6px black;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-h1{
  position:absolute;
  top:15%;
  left:50%;
  transform: translate(-50%,-50%);
}
.dies-container{
  box-sizing: border-box;
  margin-top: -10vh;
  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 30% 30%;
  column-gap: 25px;
  row-gap: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.die-num{
  background-color: beige;
  width:55px;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgb(77, 72, 72,0.3);
  cursor: pointer;
}
.held{
  box-sizing: border-box;
  background-color:rgb(89, 156, 219);
  border:2px dashed rgb(39, 38, 38);
}
.roll-btn{
  border-style: none;
  padding:15px 10%;
  font-size: 1.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:transparent;
  box-shadow: 0.2px 3px 5px rgb(0,0,0,0.7);
  border-radius: 5px;
  cursor: pointer;
}
.roll-btn:active{box-shadow: 0.2px 3px 5px rgb(0,0,0);
  }
  p{
    padding: 50px;
    text-align: center;
  }
  .confetti-window{
    height:100%;
    width:100%
  }